{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='?uglifycss' filter='cssrewrite'
        'bower_vendor/bootstrap/dist/css/bootstrap.css'
        'bower_vendor/bootstrap/dist/css/bootstrap-theme.css'
        '@AppBundle/Resources/public/css/ie10-viewport-bug-workaround.css'
        '@AppBundle/Resources/public/css/theme.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FeedReader</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2'
        'bower_vendor/jquery/dist/jquery.js'
        'bower_vendor/bootstrap/dist/js/bootstrap.js'
        '@AppBundle/Resources/public/js/ie10-viewport-bug-workaround.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
