parameters:
    email_params:
        from_email: "%mailer_user%"
        from_name: "%app_name%"
        admin_emails: "%admin_emails%"

services:
    xelbot.app.mailer:
        class: Xelbot\AppBundle\Mailer\Mailer
        arguments: ["@mailer", "@router", "@templating", "%email_params%"]

    xelbot.app.base_manager:
        class: Xelbot\AppBundle\Service\BaseManager
        arguments: ["@doctrine.orm.entity_manager"]

    xelbot.app.doctrine_naming_strategy.plural:
        class: Xelbot\AppBundle\Doctrine\PluralUnderscoreNamingStrategy
